body {
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    align-items: stretch;
    padding: 2rem;
    text-align: left;
}

.contact-text {
    margin-top: 3rem;
}

.card{
    width: 100%;
    padding: 25px;

    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 8px 32px rgba(0,0,0,0.25);

    color: black;

    transition: transform 0.3s ease;

    display: flex;
    flex-direction: column;
    height: 100%;
}


header h1 {
    font-size: 2.5rem;
    color: #004080;
    margin-bottom: 10px;
}

header p {
    font-size: 1.1rem;
    color: #555;
}

/* Contact Info Section */
.contact-info {
    margin-bottom: 40px;
}

.contact-info h2 {
    font-size: 1.8rem;
    color: #004080;
    margin-bottom: 20px;
    border-bottom: 2px solid #004080;
    display: inline-block;
    padding-bottom: 5px;
}

.info-item {
    margin-bottom: 15px;
}

.info-item strong {
    color: #004080;
    font-weight: 600;
}

.info-item p {
    margin: 5px 0 0 0;
    color: #444;
}

/* Marquee Styling */
marquee {
    font-weight: bold;
    color: #008000;
    margin-top: 10px;
}

/* Form Styling */


form h2 {
    font-size: 1.8rem;
    color: #004080;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 0.5px solid #7C3AED;
    box-shadow: 0 8px 32px rgba(0,0,0,0.25);
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
    border-color: #004080;
    outline: none;
}

textarea {
    min-height: 100px;
    resize: vertical;
}

/* Button Styling */
button {
    background: #004080;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #0066cc;
}