@media screen and (max-width: 900px) {
    
}

@media screen and (min-width: 750px) {
    .aspirant-futarians-container {
        flex-direction: row;
    }

    .stats-container {
        flex-direction: row;
    }

    .footer {
        flex-direction: row;
    }

    .nav-links {
        display: flex;
    }

    .mobile-menu-icon {
        display: none;
    }
    
}


@media screen and (max-width: 749px) {
    .mobile-menu {
        display: none;
    } 
}


